<div class="profile-container flex flex-column w-full justify-content-center align-items-center">
  <h1 class="title-section">{{"profile_vet.title" | translate }}</h1>
  <div class="pt-4 header flex flex-column w-full justify-content-center align-items-center">
    <div class="container-image">
      <img [src]="profile.image_url" alt="fadf"/>
    </div>
    <div>
      <div class="name">{{ profile.name }}</div>
    </div>
    <div class="btn-container">
      <button (click)="openDialog()"><span class="material-symbols-outlined">
edit
</span>{{"profile_vet.edit_profile" | translate }}</button>
    </div>
    <div class="btn-container password">
      <button (click)="openGenerateCodeDialog()"><span class="material-symbols-outlined">
key
</span> {{"profile_vet.generate_password" | translate }}</button>
    </div>
  </div>
  <div class="general-information pl-4 mt-4 gap-2 flex flex-column align-items-center">
    <div class="section-title">{{"profile_vet.general_info" | translate }}:</div>

    <div class="field-container">
      <div class="field-logo">
        <span class="material-symbols-outlined">mail</span> {{"profile_vet.email" | translate }}:
      </div>
      <div class="field-text">
        {{ userClaims.sub }}
      </div>
    </div>

    <div class="field-container">
      <div class="field-logo">
        <span class="material-symbols-outlined">work</span>
        {{"profile_vet.experiencia" | translate }} :
      </div>
      <div class="field-text">
        {{ profile.experience }} {{"profile_vet.years" | translate }}
      </div>
    </div>

    <div class="field-container description">
      <div class="field-logo">
        <span class="material-symbols-outlined">description</span>
        {{"profile_vet.description" | translate }} :
      </div>
      <div class="field-text">
        {{ profile.description }}
      </div>
    </div>
  </div>
</div>
<p-dialog [header]="'profile_vet.edit_profile' | translate" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '40rem' }">
  <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="add-pet-form">
    <div class="card flex justify-content-center align-items-center flex-column">
      <p-toast></p-toast>
      <div class="image-preview" *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Vista previa"/>
      </div>
      <p-fileUpload
        mode="basic"
        name="demo[]"
        chooseIcon="pi pi-upload"
        url="https://www.primefaces.org/cdn/api/upload.php"
        accept="image/*"
        maxFileSize="1000000"
        [auto]="true"
        (onSelect)="onImageSelect($event)"
        [chooseLabel]="'profile_vet.upload_photo' | translate">
      </p-fileUpload>
    </div>
    <div class="card flex justify-content-start mt-5 mb-4">
      <p-floatLabel>
        <input pInputText id="name" formControlName="name"/>
        <label for="name"><span class="pi pi-user"></span>{{"profile_vet.name" | translate }}</label>
      </p-floatLabel>
    </div>
    <div class="card flex justify-content-start mt-5 mb-4">
      <p-floatLabel>
        <input pInputText id="experience" formControlName="experience"/>
        <label for="experience"><span class="pi pi-map-marker"></span>{{"profile_vet.experience" | translate }}</label>
      </p-floatLabel>
    </div>
    <div class="card flex flex-column justify-content-start w-full">
      <label for="float-input">{{"profile_vet.description" | translate }}</label>
      <textarea
        id="float-input"
        rows="7"
        cols="30"
        formControlName="description"
        pInputTextarea
        style="resize: none;"
      >
          </textarea>
    </div>
    <div class="flex justify-content-around gap-2 mb-4 mt-3">
      <p-button [label]="'profile_vet.btn_cancel' | translate" severity="secondary" (onClick)="closeDialog()"/>
      <p-button [label]="isUploading ? 'Uploading...' : ('profile_vet.btn_save' | translate)" (onClick)="submitForm()" [disabled]="isUploading"/>
    </div>
  </form>
</p-dialog>
<p-dialog [header]="'profile_vet.password_header' | translate" [modal]="true" [(visible)]="generateCodeDialogVisible" [style]="{ width: '40rem' }">
  <p>{{"profile_vet.password_paragraph" | translate }}</p>
  <div class="flex flex-column align-items-start justify-content-center mt-3">
    <div><span class="material-symbols-outlined">key</span> {{"profile_vet.your_password" | translate }} : <br/></div>
  <strong>{{ passwordGenerated }}</strong>
  </div>
  <div class="flex justify-content-around gap-2 mb-4 mt-3">
    <p-button [label]="'profile_vet.password_close' | translate" severity="secondary" (onClick)="closeGenerateCodeDialog()"/>
  </div>
</p-dialog>
