<div class="h-full w-full absolute">
  <div class="flex flex-col w-full h-full px-4 align-middle items-center">
    <div class="mt-4 w-full">
      <h1 class="text-4xl md:text-5xl font-bold text-center items-center">{{"auth.create"|translate}}</h1>
      <h2 class="text-xl md:text-2xl font-medium text-center mt-2 mb-4">{{"auth.join"|translate}}</h2>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mt-4 px-20">
          <div class="flex flex-col mb-4 px-10">
            <label for="numberPhone" class="text-lg mb-2">{{"auth.phone"|translate}}</label>
            <input type="text" id="numberPhone" formControlName="numberPhone" class="text-lg w-full h-12 px-3 border border-gray-300 rounded-md" />
            <div *ngIf="registerForm.get('numberPhone')?.errors?.['required'] && (submitted || registerForm.get('numberPhone')?.touched)" class="text-red-500">{{"auth.phone_required" | translate}}</div>
            <div *ngIf="registerForm.get('numberPhone')?.errors?.['pattern'] && (submitted || registerForm.get('numberPhone')?.touched)" class="text-red-500">El teléfono debe tener exactamente 9 dígitos numéricos</div>
          </div>

          <div class="flex flex-col mb-4">
            <label for="location" class="text-lg mb-2">{{"auth.location"|translate}}</label>
            <input type="text" id="location" formControlName="location" (input)="getLocationSuggestions(registerForm.get('location')?.value)" class="text-lg w-full h-12 px-3 border border-gray-300 rounded-md" />
            <div class="suggestions">
              <ul class="mt-1">
                <li *ngFor="let suggestion of locationSuggestions" (click)="selectLocation(suggestion)" class="cursor-pointer hover:bg-gray-200 p-2 rounded-md">{{ suggestion.display_name }}</li>
              </ul>
            </div>
            <div *ngIf="registerForm.get('location')?.invalid && (submitted || registerForm.get('location')?.touched)" class="text-red-500">{{"auth.location_required"|translate}}</div>
          </div>

          <div class="py-4 flex justify-center">
            <button type="submit" class="text-white bg-purple-500 hover:bg-purple-600 border-0 rounded-full px-8 py-4 shadow-lg">
              {{"auth.sign_up"|translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
