    <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="add-pet-form">
      <div class="card flex justify-content-center align-items-center flex-column">
        <p-toast></p-toast>
        <div class="image-preview" *ngIf="imageUrl">
          <img [src]="imageUrl" alt="Vista previa" />
        </div>
        <p-fileUpload
          mode="basic"
          name="demo[]"
          chooseIcon="pi pi-upload"
          url="https://www.primefaces.org/cdn/api/upload.php"
          accept="image/*"
          maxFileSize="1000000"
          [auto]="true"
          (onSelect)="onImageSelect($event)"
          [chooseLabel]="'form_add_pet.upload_image' | translate">
        </p-fileUpload>
      </div>
      <div class="card flex justify-content-center mt-5 mb-4">
        <p-floatLabel>
          <input pInputText id="name" formControlName="name" />
          <label for="name">{{"form_add_pet.name" | translate}}</label>
        </p-floatLabel>
      </div>
      <div class="card flex justify-content-center mb-4">
        <p-floatLabel>
          <input pInputText id="breed" formControlName="breed" />
          <label for="breed">{{"form_add_pet.breed" | translate}}</label>
        </p-floatLabel>
      </div>
      <div class="card flex justify-content-center mb-4">
        <p-dropdown
          [options]="speciesList"
          formControlName="species"
          [placeholder]="'form_add_pet.species' | translate"
          [style]="{'width':'15rem'}"/>
      </div>
      <div class="card flex justify-content-center mb-4">
        <p-floatLabel>
          <input type="number" pInputText id="weight" formControlName="weight" />
          <label for="weight">{{"form_add_pet.weight" | translate}}</label>
        </p-floatLabel>
      </div>
      <div class="card flex justify-content-center mb-4">
        <p-dropdown
          [options]="genders"
          formControlName="gender"
          optionLabel="name"
          [placeholder] = "'form_add_pet.gender' | translate"
          [style]="{'width':'15rem'}"/>
      </div>
      <div class="card flex justify-content-center mb-4">
        <p-floatLabel>
        <p-calendar
          formControlName="birthdate"
          [placeholder]="'form_add_pet.birthdate' | translate"
          [showIcon]="true"
          id="birth_date"
          [touchUI]="true"
        />
        </p-floatLabel>
      </div>
      <div class="flex justify-content-around gap-2 mb-4">
        <p-button [label]="'form_add_pet.btn_cancel' | translate" severity="secondary" (onClick)="closeDialog()" />
        <p-button [label]="buttonTitle" (onClick)="submitForm()"/>
      </div>
    </form>



