<div class="w-full flex flex-column align-items-center justify-content-center">
  <div class="header-profile w-full flex flex-row align-items-center justify-content-around">
    <div class="w-full flex flex-row align-items-center gap-4">
      <div class="container-image pl-5">
        <img [src]="pet?.image_url" alt="pet image">
      </div>
      <div class="header-profile-text">
        <h1>{{ pet?.name }} <span [class]="pet?.gender=='Male'?'pi pi-mars female':'pi pi-venus male'"></span></h1>
      </div>
    </div>
    <div *ngIf="userRole==UserType.Owner" class="flex">
      <div class="header-profile-button mr-3">
        <button (click)="openDialogEdit()"><span class="pi pi-pencil"></span> {{"pet_profile.edit_profile" | translate}}</button>
      </div>
      @if(isTracked){
        <div class="header-profile-button mr-3 noTracked">
          <button (click)="openDialogStopTracking()"><span class="pi pi-wifi"></span> {{"pet_profile.stop_tracking" | translate}}</button>
        </div>
      }@else {
        <div class="header-profile-button mr-3 isTracked">
          <button (click)="openDialogTracking()"><span class="pi pi-wifi"></span> {{"pet_profile.start_tracking" | translate}}</button>
        </div>
      }
    </div>

  </div>
  <ng-container *ngIf="isTracked">
    <div>
      IoT information for ID <strong>{{petCollarData.serial_number}}</strong>
    </div>
    <div class="badges-container">
      <div title="Temperatura en grados centigrados" class="iot-item">
        <div>Battery <span class="material-symbols-outlined">charging_station</span></div>
        <div class="value">{{ petCollarData.battery }} %</div>
      </div>
      <div title="Temperatura en grados centigrados" class="iot-item">
        <div>Temperature <span class="material-symbols-outlined">device_thermostat</span></div>
        <div class="value">{{ petCollarData.temperature }} ªC</div>
      </div>
      <div title="Latidos por minuto" class="iot-item">
        <div>LPM<span class="material-symbols-outlined">cardiology</span></div>
        <div class="value">{{ petCollarData.lpm }} lpm</div>
      </div>
      <div class="iot-item justify-content-center" (click)="openMapDialog()">
        <div>GPS <span class="material-symbols-outlined">map</span></div>
      </div>
    </div>
  </ng-container>


  <div>
    General Information
  </div>
  <div class="badges-container">
    <div class="badge">
      <div>{{"pet_profile.breed" | translate}}</div>
      <div> <strong>{{ pet?.breed }}</strong></div>
    </div>
    <div class="badge">
      <div>{{"pet_profile.species" | translate}}  </div>
      <div><strong>{{ pet?.species }}</strong></div>
    </div>
    <div class="badge">
      <div>{{"pet_profile.weight" | translate}}</div>
      <div><strong>{{ pet?.weight }} kg</strong> </div>
    </div>
    <div class="badge">
      <div>{{"pet_profile.birthdate" | translate}}</div>
      <div><strong>{{ pet?.birthdate }}</strong></div>
    </div>
  </div>
  <div class="mt-4">
    {{"pet_profile.more_info" | translate}}
  </div>
  <div *ngIf="historyId" class="my-accordion mt-5">
    <div class="flex mb-3 gap-2 justify-content-between">
      <div class="flex gap-2">
        <p-button
          (click)="activeIndex = 0"
          rounded="true"
          [label]="'pet_profile.medical_results' | translate"
          styleClass="w-5rem h-3rem p-0"
          [outlined]="activeIndex !== 0"/>
        <p-button
          (click)="activeIndex = 1"
          rounded="true"
          [label]="'pet_profile.diseases' | translate"
          styleClass="w-5rem h-3rem p-0"
          [outlined]="activeIndex !== 1"/>
        <p-button
          (click)="activeIndex = 2"
          rounded="true"
          [label]="'pet_profile.surgeries' | translate"
          styleClass="w-5rem h-3rem p-0"
          [outlined]="activeIndex !== 2"/>
        <p-button
          (click)="activeIndex = 3"
          rounded="true"
          [label]="'pet_profile.vaccines' | translate"
          styleClass="w-5rem h-3rem p-0"
          [outlined]="activeIndex !== 3"/>
      </div>

      <!-- Botón de descarga PDF -->
      <p-button
        (click)="downloadMedicalPDF()"
        icon="pi pi-download"
        [label]="'pet_profile.download_medical_history' | translate"
        styleClass="p-button-success"/>
    </div>
    <p-accordion (activeIndexChange)="activeIndexChange($event)" [activeIndex]="activeIndex">
      <p-accordionTab [header]="'pet_profile.medical_results' | translate">
        <app-medical-results [medicalHistoryId]="historyId"></app-medical-results>
      </p-accordionTab>
      <p-accordionTab [header]="'pet_profile.diseases' | translate">
        <app-diseases [medicalHistoryId]="historyId"></app-diseases>
      </p-accordionTab>
      <p-accordionTab [header]="'pet_profile.surgeries' | translate">
        <app-surgeries [medicalHistoryId]="historyId"></app-surgeries>
      </p-accordionTab>
      <p-accordionTab [header]="'pet_profile.vaccines' | translate">
        <app-vaccines [medicalHistoryId]="historyId"></app-vaccines>
      </p-accordionTab>
    </p-accordion>
  </div>

</div>
<p-dialog *ngIf="visible" [header]="'pet_profile.edit_pet' | translate" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }">
  <app-form-add-pet [pet]="pet" [closeDialog]="closeDialogEdit" [mode]="TypeForm.EDIT"></app-form-add-pet>
</p-dialog>

<p-dialog  header="Start tracking" [modal]="true" [(visible)]="dialogStartTrackVisible" [style]="{ width: '40rem' }">
  <p>Do you want to start tracking your pet?</p>
  <form [formGroup]="productCodeForm">
    <div class="card flex justify-content-center mb-4">
      <p-floatLabel class="mt-4">
        <input pInputText id="code"  formControlName="productCode" />
        <label for="code">Enter the product code</label>
      </p-floatLabel>
    </div>
    <div class="flex justify-content-around gap-2 mb-4">
      <p-button label="Cancel" severity="secondary" (onClick)="closeDialogTracking()" />
      <p-button label="Start" (onClick)="startTrack()"/>
    </div>
  </form>
</p-dialog>
<p-dialog header="Stop tracking" [modal]="true" [(visible)]="dialogStopTrackVisible" [style]="{ width: '40rem' }">
  <p>Do you want stop tracking to your pet?</p>Add commentMore actions
  <div class="flex justify-content-around gap-2 mb-4 mt-3">
    <p-button label="Cancel" severity="secondary" (onClick)="closeDialogStopTracking()" />Add commentMore actions
    <p-button label="Stop" (onClick)="stopTrack()"/>
  </div>
</p-dialog>
<p-dialog [header]="'Location of my pet'" [modal]="true"  [(visible)]="dialogMapVisible"  [style]="{ width: '40rem' }">
  <app-custom-map [closeDialog]="closeMapDialog" [markers]="petMarker"></app-custom-map>
</p-dialog>
