<div class="profile-container flex flex-column w-full justify-content-center align-items-center">
  <h1 class="title-section">{{"profile.title" | translate}}</h1>
  <div class="pt-4 header flex flex-column w-full justify-content-center align-items-center">
    <div class="container-image">
      <img [src]="profile.image_url" alt="fadf"/>
    </div>
    <div>
      <div class="name">{{profile.name}}</div>
    </div>
    <div class="btn-container">
      <button (click)="openDialog()">{{ "profile.form_title" | translate}}</button>
    </div>
  </div>
  <div class="general-information pl-4 mt-4 gap-2 flex flex-column">
    <div class="section-title">{{ "profile.general_info" | translate}}</div>
    <div class="field-container">
      <div class="field-logo">
        <span class="pi pi-phone"></span>
      </div>
      <div class="field-text">
        {{profile.numberPhone}}
      </div>
    </div>
    <div class="field-container">
      <div class="field-logo">
        <span class="pi pi-envelope"></span>
      </div>
      <div class="field-text">
        {{userClaims.sub}}
      </div>
    </div>
    <div class="field-container">
      <div class="field-logo">
        <span class="pi pi-map-marker"></span>
      </div>
      <div class="field-text">
        {{profile.location}}
      </div>
    </div>
  </div>
</div>
<p-dialog [header]="'profile.form_title' | translate " [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '40rem' }">
  <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="add-pet-form">
    <div class="card flex justify-content-center align-items-center flex-column">
      <p-toast></p-toast>
      <div class="image-preview" *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Vista previa" />
      </div>
      <p-fileUpload
        mode="basic"
        name="demo[]"
        chooseIcon="pi pi-upload"
        url="https://www.primefaces.org/cdn/api/upload.php"
        accept="image/*"
        maxFileSize="1000000"
        [auto]="true"
        (onSelect)="onImageSelect($event)"
        [chooseLabel]="'profile.upload_photo' | translate">
      </p-fileUpload>
    </div>
    <div class="card flex justify-content-center mt-5 mb-4">
      <p-floatLabel>
        <input pInputText id="name" formControlName="name" />
        <label for="name"><span class="pi pi-user"></span>{{"profile.name" | translate}}</label>
      </p-floatLabel>
    </div>
    <div class="card flex justify-content-center mt-5 mb-4">
      <p-floatLabel>
        <input pInputText type="tel" id="phone" formControlName="phone_number" maxlength="9" />
        <label for="name"><span class="pi pi-phone"></span>{{"profile.phone" | translate}}</label>
      </p-floatLabel>
    </div>
    <div class="card flex justify-content-center mt-5 mb-4">
      <p-floatLabel>
        <input pInputText id="location" formControlName="location" />
        <label for="name"><span class="pi pi-map-marker"></span>{{"profile.location" | translate}}</label>
      </p-floatLabel>
    </div>
    <div class="flex justify-content-around gap-2 mb-4">
      <p-button [label]="'profile.btn_cancel' | translate" severity="secondary" (onClick)="closeDialog()" />
      <p-button [label]="isUploading ? 'Uploading...' : ('profile.btn_save' | translate)" (onClick)="submitForm()" [disabled]="isUploading"/>
    </div>
  </form>
</p-dialog>
